<div class="navbar">
    <div class="nav-logo">
        DungeoNex
    </div>
    <ul class="nav-item-list">
        <li class="nav-item nav-active">
            <fa-icon [icon]="faBook"></fa-icon>
            Campaigns
        </li>
        <li class="nav-item">
            <fa-icon [icon]="faUsers"></fa-icon>
            Characters
        </li>
        <li class="nav-item">
            <fa-icon [icon]="faSkull"></fa-icon>
            Encounters
        </li>
        <li class="nav-item">
            <fa-icon [icon]="faMapLocationDot"></fa-icon>
            Maps
        </li>
        <li class="nav-item">
            <fa-icon [icon]="faBoxesStacked"></fa-icon>
            Items
        </li>
        <li class="nav-item">
            <fa-icon [icon]="faGear"></fa-icon>
            Settings
        </li>
    </ul>
</div>